<!doctype html>
<html>
<head>
    <title>Add Student</title>
</head>

<body>

  <form action="/student-add" method="POST">
      <label>Enter Student Info
          <input type="text" name="github" placeholder="Student GitHub">
          <input type="text" name="first_name" placeholder="Student First Name">
          <input type="text" name="last_name" placeholder="Student Last Name">

      </label>
      <input action="/confirmation-page" type="submit" value="Add Student">
  </form>

</body>
</html>